{% extends 'base.html' %}

{% block title %}Bosh sahifa{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="fw-bold">
        <i class="fa-solid fa-layer-group text-primary"></i>
        Mening Subjectlarim
    </h4>

    <a href="#" class="btn btn-primary rounded-3">
        <i class="fa-solid fa-plus"></i> Yangi Subject
    </a>
</div>

<div class="row">
    {% for subject in subjects %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'subject_detail' subject.id %}" class="text-decoration-none">
                <div class="card subject-card h-100 border-0 shadow-sm">
                    <div class="card-body">

                        <h5 class="fw-bold text-dark">
                            {{ subject.title }}
                        </h5>

                        <p class="text-muted small mb-2">
                            <i class="fa-solid fa-user"></i>
                            {{ subject.author.email }}
                        </p>

                        <p class="text-muted small">
                            <i class="fa-solid fa-clock"></i>
                            {{ subject.created_at|date:"d M Y" }}
                        </p>

                    </div>
                </div>
            </a>
        </div>
    {% empty %}
        <div class="text-center text-muted mt-5">
            <i class="fa-solid fa-folder-open fa-2x mb-2"></i>
            <p>Hozircha subjectlar yo‘q</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
